@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Poppins:wght@600&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Poppins:wght@600&family=Roboto:wght@500&family=Sacramento&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}


html {
	font-size: 10px;
	color: 
}

body {
	background: url('./images/Background1.png');
	background-size: cover;
	font-family: 'Poppins', sans-serif;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 3rem;
	margin-top: 13rem;
	text-align: center;
}


h1 {
	color: #5d7466;
	font-family: 'Oooh Baby', cursive;
	font-size: 55px;
}

h2 {
	color: #d58258;
	font-size: 20px;
}

div img {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	max-width: 250px;
	max-height: auto;
}

p {
	
	font-size: 2rem;
	color: #525b60;
	line-height: 3.5rem;
}

