@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Poppins:wght@600&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Poppins:wght@600&family=Roboto:wght@500&family=Sacramento&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}	
html {
	scroll-behavior: smooth;
}
body {
	font-size: 100%;
	background-image: url(./images/Background1.png);
	background-size: cover;
	font-family: 'Poppins', sans-serif;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	margin-left: 100px;
	margin-right: 100px;
}

.logo {
	height: 50px;
	align-items: center;
}

.navbarli {
	display: flex;
	gap: 45px;
	list-style: none;
}

.navbaritem {
	font-family: 'Poppins', sans-serif;
	color:#5d7466;
	font-size: 20px;
	transition: all 0.3s ease 0s;
}

.navbaritem:hover {
transition: all 0.3s ease 0s;
color: #e0e0e0;;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: none;
	color:#5d7466;
	padding: 30px;
}


.mainsection h1 {
	font-family: 'Oooh Baby', cursive;
	color: #5d7466;
	font-size: 55px;
	text-align: center;	
}

.mainsection h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-size: 18px;
	color: #ea8b54;
	text-align: center;
}

.mainimg {
	height: 300;
	padding: 30px;
	align-items: center;
}

.bodysection {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	margin-top: 30px;
	margin-left: 100px;
	margin-right: 100px;
}

.bodysectionp {
	font-size: 18px;
	line-height: 40px;
}
footer {
	width: 858px;
	height: 149px;
	box-sizing: border-box;
	border-top: 1px solid #e0e0e0;
	margin: 0 auto;
	padding: 31px 0 41px;
    }
    
    footer div {
	width: fit-content;
	margin: 0 auto;
    }
    
    footer div a {
	margin: 30px;
	text-decoration: none;
	color: #ea8b54;
    }

    
    .logofigma:hover {
	transition: all 0.3s ease 0s;
	color: #e0e0e0
    }

    .logogit:hover {
	transition: all 0.3s ease 0s;
	color: #e0e0e0   
    }

    .logolinkedin:hover {
	transition: all 0.3s ease 0s;
	color: #e0e0e0   
    }